<div class="product">
<div class="new-title info">
   <a href="/bookstore/books/{{bookObject.isbn}}">
      <span class="holder">
         <img src="/bookstore/resources/images/{{bookObject.publisher.name}}/{{bookObject.title}}-{{bookObject.isbn}}.jpg" alt="" />
         <span class="book-name">{{bookObject.title}}</span>
         <span class="author" ng-repeat="author in bookObject.authorList">
            <span>{{author.firstName}} {{author.lastName}}</span>
            <span ng-show="!$last">, </span>
         </span>
         <span ng-class="{'bookOnDiscount': bookObject.discount != null}">
             <span class="oldPrice">Cena: {{bookObject.price}}</span><br/>
             <span class="discountPrice" ng-if="bookObject.discount != null">{{(bookObject.price - (bookObject.price/100*bookObject.discount)).toFixed(2)}}</span>     
         </span>
      </span>
   </a>
</div>
</div>
